body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image : url(../images/texture_papier.jpg);
  background-color: #F5ECCE;

}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #083027 ;
  text-align: center;
  border-radius: 10px;
  border: solid black 2px;

}
.box h1{
  color: #3498db;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 2px 2px black;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-bottom-color:  #2ecc71;

}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  background: #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background:#0b8457;
}

.box a {
    text-decoration: none;
    border-bottom: solid  #3498db;
    color :  #3498db;
    transition:0.25s
}

.box a:hover {
    font-size: 1.2em;
}

.retour {
    position:absolute;
    top:0;
    left: 0;
    background-color: #083027;
    padding-right:50px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-top: 20px;
    font-size:1.5em;
    text-decoration: none;
    text-align: center;
    color: #3498db;
    border-bottom: solid black;
    border-right: solid black;
    border-bottom-right-radius: 24px;
    transition: 0.5s;
}

.retour:hover {
    font-size: 2em;
    text-decoration: underline;
}
