@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  overflow: auto;
  width: 100%;
  background-image: url("fond_ecran_maison1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}

.content h1 {
	font-family: "Roboto", sans-serif;
}

p {
	font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.content form {
	display: inline-block;

	
}

.ajouter_maison_form input {
	
	font-family: "Roboto", sans-serif;
	overflow: hidden;
    margin-bottom: 0;
    padding: 30px 30px;
    position: relative;
    background: #edf2f5;
	border : none;


}

.ajouter_maison_form input:hover {

    background: #c5c4c4;
	text-decoration: underline black;
	transition: ease-in-out 0.15s;
	cursor: pointer;

}

.ajouter_maison_form button {

	font-family: "Roboto", sans-serif;
	padding: 10px 35px;
	border : none;
	border : solid white 1px;
	border-radius: 0.25rem;
	background-color :#6c63ff;


}


.ajouter_maison_form button:hover {

	transition: ease-in-out 0.2s;
	background-color :#3f3c74;
	color: white;
	border : solid white 2px;
	box-shadow: 2px 2px 5px black;


}