@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  overflow: auto;
  margin : 0;
  padding: 0;
  width: 100%;
  background-image : url(fond_ecran.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F5ECCE;
}


fieldset {
  border: 0;
  padding: 0;
  margin: auto;
  min-width: 0;
  width:50%;
  background-color: #D4E0F0;

}

.formulaire {
	display: block;
	margin : 0 auto;
	text-align: center;
	width: 80%;

}


legend {
	font-weight: 500;
	font-size: 2.5em;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

input[type = "submit"] {
	outline:none;
	background: none;
	padding : 25px;
	background-color: #6CE357;
	text-decoration: none;
	transition: 0.3s;
	border : solid #6CE357 3px;
	font-family: 'Balsamiq Sans', cursive;

}


input[type = "submit"]:hover {
	border : solid #156308 3px;


}


input[type = "password"], input[type = "text"] {
	display : inline-block;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	outline: none;
	cursor: pointer;
	box-shadow: 3px 3px 15px black;
	transition: 0.5s;
}

div[type="gauche"]{
	margin-right:10%;
}

div[type="droite"]{
	margin-right:10%;
}


.div_colonne{
	display : inline-block;
}
input[type = "password"]:focus, input[type = "text"]:focus {

	box-shadow: 6px 6px 8px black;
}

input {

	border : none;

}