@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  overflow: auto;
  margin : 0;
  padding: 0;
  width: 100%;
  background-image : url(fond_ecran.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F5ECCE;
  
}

h1{
    margin-left:1.5%;
    margin-right:1.5%;
    font-family: 'Balsamiq Sans', cursive;
}

.check-cont{
    border : 2px solid black;
    background-color: #D4E0F0;
    margin-left:1.5%;
    margin-right:1.5%;

	border-radius : 5px;
    font-family: 'Balsamiq Sans', cursive;
}

.retour {
    position:absolute;
    top:0;
    left: 0;
    background-color: #313131;
    padding-right:50px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-top: 20px;
    font-size:1.5em;
    text-decoration: none;
    text-align: center;
    color: #3498db;
    border-bottom: solid black;
    border-right: solid black;
    border-bottom-right-radius: 24px;
    transition: 0.5s;
}

.retour:hover {
    font-size: 2em;
    text-decoration: underline;
}
