@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  overflow: auto;
  width: 100%;
  background-image: url("fond_ecran.svg");
  background-size: cover;
  background-repeat: no-repeat;


  
}
fieldset{
    margin:auto;
    width:80%;
    height:auto;
    background-color: #D4E0F0;
    border-radius: 25px;
    padding: 20px
}


.bouton{
  
  font-family: "Roboto", sans-serif;
  background-color: #313131;
  padding-right:20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  font-size:1.5em;
  text-decoration: none;
  text-align: center;
  transition: ease-out 0.15s;
  margin-top:1;
  color : white;
  margin-bottom:1%;

  border-top-right-radius:  24px ;
  border-bottom-right-radius:  24px ;

  display: inline-block;


}

h1 {

  font-family: "Roboto", sans-serif;
  color: #7932a8;
  font-size: 3em;
  


}


.bouton:hover {
    font-size: 2em;
    text-decoration: underline;
}

.test {


  position: relative;
  object-position : right ;
  margin-bottom: -120px;
  margin-left: 713px;

}