@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/

.contenu {
  margin : 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-family: 'Balsamiq Sans', cursive;
  margin-left : 15px;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 0;
  padding-top: 15px;
}


p {
  font-family: 'Open Sans', sans-serif;
  margin-left : 25px;
  font-size: 1.5em;
  margin-bottom: 0;
}

.text-bas {
  padding-bottom: 25px;
}

footer {
  background-color: #083027;
  border-top : solid black 5px;
  margin: 0;
}

footer p{
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  margin : auto;
  color : #DDDFE1;
  padding: 10px; 
}

