
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;

*/

body {
	margin : 0;
	padding : 0;
}

* {
	text-decoration: none;
	list-style: none;
}


header {
	width: 100%;
	padding-top: 30px;
	height: 130px;
	background-color : #313131;
	color : #DDDFE1;

}

header a{
	color : #DDDFE1;
}


.header-tete {
	display: block;
	text-align: center;
}

.marque {
	margin-right: 25px;
	font-weight: 1000;
	font-size: 5em;
	margin-bottom: 15px;
	padding-right: 15px;
	margin-left: 0px;
}


/* Le logo ne sera affiché que sur grand écran*/

.logo {
	display : none;
}

ul li a{

	border-right: solid #DDDFE1 5px;
	border-left: solid #DDDFE1 5px;
	padding : 15px;
	font-size: 2em;
	transition: 0.3s;
	font-weight: 900;
	letter-spacing: 0.3px;

}


/*Les deux boutons disponibles sur mobile car les jeux ne sont pas indispensables*/



.inscription:hover {
	background-color: #0C0E0D; 
	border-radius : 15px;
	box-shadow: 5px 5px 10px black;
}





.inscription {
	position: absolute;
	top :50px;
	right : 20px;
}

.logout-box input[type="submit"]{
	position:  absolute;
  	outline: none;
	padding : 15px;
	font-size: 1.3em;
	transition: 0.05s;
	cursor:pointer;
	top : 55px;
	right :275px;
	background: #313131;
	color: #DDDFE1 ;
	font-weight: 500;
	border-radius: 15px;
	font-family: 'Balsamiq Sans', cursive;
	box-shadow:  3px 3px 3px black;
}


.logout-box input[type="submit"]:hover{
	box-shadow:  5px 5px 5px black;
	background : #960B0B;
}


.admin_mode {
	
	font-family: "Roboto", sans-serif;
	margin : 30px;
	box-shadow:  5px 5px 5px black;
	padding: 10px;
	border : solid white 2px;
	background-color: #222057;

}

.admin_mode:hover {
	
	transition: 0.05s;
	background-color: #0f0e25;


}

.demandes_css {

	position: absolute;
	margin-top : 50px;
	margin-left: 30px;
	font-family: "Roboto", sans-serif;
	background-color: #032c0c;
	border : solid white 2px;
	padding: 10px;
	box-shadow:  5px 5px 5px black;
	transition: ease-in-out 0.15s;

}

.demandes_css:hover {

	margin-left: 20px;
	margin-top : 40px;
	padding: 20px;
	transition: ease-in-out 0.15s;
	background-color: #18772c;
	color: #b8fcc7;
	border-radius: 0.2em;
	box-shadow:  10px 10px 10px black;

}


@media screen and (min-width: 1450px){

	.logo {
		display : inline-block;
		margin : 0 auto;
		border-bottom-right-radius: 10px;
	}

	.logo img{
			height:50px;
			width: 50px;
		}



}
