@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');
/*

font-family: 'Balsamiq Sans', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  overflow: auto;
  margin : 0;
  padding: 0;
  width: 100%;
  background-image : url(fond_ecran.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F5ECCE;
  
}

h1{
    margin-left:1.5%;
    margin-right:1.5%;
    font-family: 'Balsamiq Sans', cursive;
}



.retour_maison {
    position:absolute;
    top:0;
    left: 0;
    background-color: #313131;
    margin-top: 500px;
    padding-right:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-size:1.5em;
    text-decoration: none;
    text-align: center;
    color: #3498db;
    border-top:solid black;
    border-bottom: solid black;
    border-right: solid black;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    transition: 0.5s;
}
.retour_appart {
    position:absolute;
    margin-top: 500px;
    top:11% ;
    left: 0;
    background-color: #313131;
    padding-right:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-size:1.5em;
    text-decoration: none;
    text-align: center;
    color: #3498db;
    border-bottom: solid black;
    border-right: solid black;
    border-top:solid black;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    transition: 0.5s;
}

.retour_maison:hover {
    font-size: 2em;
    text-decoration: underline;
}
.retour_appart:hover {
    font-size: 2em;
    text-decoration: underline;
}

form{
    border: 0;
    padding: 0;
    margin: auto;
    min-width: 0;
    width:30%;
    background-color: #D4E0F0;
    margin-top:5%;
}

label{
    margin-left:10%;
    margin-top:2%;
    margin-bottom:2%;
}
  
input[type="text"], select{
    background-color: #D4E0F0;
    margin-left:2%;
    margin-top:2%;
    margin-bottom:2%;
    border-top:hidden;
    border-right:hidden;
    border-left:hidden;
    outline:none;
    border-bottom: 1.5px solid black;
}

button{
    margin-left:20%;
    margin-top:3%;
    margin-bottom:3%;
    border-radius:10px;
}